<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Hello</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Getdata</display-name>
    <servlet-name>Getdata</servlet-name>
    <servlet-class>com.controller.Getdata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Getdata</servlet-name>
    <url-pattern>/Getdata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adminlog</display-name>
    <servlet-name>Adminlog</servlet-name>
    <servlet-class>com.controller.Adminlog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminlog</servlet-name>
    <url-pattern>/Adminlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Userlog</display-name>
    <servlet-name>Userlog</servlet-name>
    <servlet-class>com.controller.Userlog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userlog</servlet-name>
    <url-pattern>/Userlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Getmsg</display-name>
    <servlet-name>Getmsg</servlet-name>
    <servlet-class>com.controller.Getmsg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Getmsg</servlet-name>
    <url-pattern>/Getmsg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Updatedata</display-name>
    <servlet-name>Updatedata</servlet-name>
    <servlet-class>com.controller.Updatedata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updatedata</servlet-name>
    <url-pattern>/Updatedata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deletedata</display-name>
    <servlet-name>Deletedata</servlet-name>
    <servlet-class>com.controller.Deletedata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deletedata</servlet-name>
    <url-pattern>/Deletedata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Updateown</display-name>
    <servlet-name>Updateown</servlet-name>
    <servlet-class>com.controller.Updateown</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updateown</servlet-name>
    <url-pattern>/Updateown</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addimage</display-name>
    <servlet-name>Addimage</servlet-name>
    <servlet-class>com.controller.Addimage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addimage</servlet-name>
    <url-pattern>/Addimage</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.intiate.Autocreate</listener-class>
  </listener>
</web-app>